.Phonetics {
  margin: 20px 0;
}

.Phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background-color: #65196f;
  color: white;
}

.Phonetics .text {
  opacity: 0.5;
  font-weight: bold;
}
